<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Importação do bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- Importação da biblioteca datatables -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.css"/>

    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/modals.css">
</head>
<body>
    <header>
        <div class="title">EZS Finanças</div>
        <div class="actions">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalCategories" class="action-button"><img src="/assets/svg/plus-solid.svg"> Categoria</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalAccounts" class="action-button" class="action-button"><img src="/assets/svg/plus-solid.svg"> Conta</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalInvestiments" class="action-button" class="action-button"><img src="/assets/svg/plus-solid.svg"> Investimento</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalTransactions" class="action-button" class="action-button"><img src="/assets/svg/plus-solid.svg"> Transação</button>
        </div>
    </header>
    <main>
        <section class="filters">
            <form action="">
                <select name="" id="">
                    <option value="">Todos os bancos</option>
                </select>
                <select name="" id="">
                    <option value="">Todas as categorias</option>
                </select>
                <select name="" id="">
                    <option value="">Todos os métodos</option>
                    <option value="">Pix</option>
                    <option value="">TED</option>
                    <option value="">Crédito</option>
                    <option value="">Débito</option>
                </select>
                <div>De <input type="date" name="initialDateInput" id="initialDateInput"></div>
                <div>Até <input type="date" name="finalDateInput" id="finalDateInput"></div>
                <button type="submit">Filtrar</button>
            </form>
        </section>
        <section class="transactions">
            <table id="tableTransactions">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
            </table>
        </section>
        <section class="dashboard">
            <div class="card">
                <div class="title-card">Entradas <img src="/assets/svg/circle-up-regular.svg"></div>
                <div class="body-card"></div>
            </div>
            <div class="card">
                <div class="title-card">Saídas <img src="/assets/svg/circle-down-regular.svg"></div>
            </div>
            <div class="card">
                <div class="title-card">Balanço <img src="/assets/svg/scale-balanced-solid.svg"></div>
            </div>
            <div class="card">
                <div class="title-card">Investimentos <img src="/assets/svg/chart-line-solid.svg"></div>
            </div>
            <div class="card">
                <div class="title-card">Saldo em bancos <img src="/assets/svg/wallet-solid.svg"></div>
            </div>
            <div class="card">
                <div class="title-card">Saldo total <img src="/assets/svg/sack-dollar-solid.svg"></div>
            </div>
        </section>
    </main>


    <!--Modal de Categorias-->
    <div class="modal fade" id="modalCategories" tabindex="-1" aria-labelledby="modalCategoriesLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-category">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal de Categorias-->
    <div class="modal fade" id="modalAccounts" tabindex="-1" aria-labelledby="modalAccountsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-category">
                Contas
            </div>
        </div>
        </div>
    </div>

    <!--Modal de Categorias-->
    <div class="modal fade" id="modalInvestiments" tabindex="-1" aria-labelledby="modalInvestimentsLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-category">
            Investimentos
          </div>
        </div>
      </div>
    </div>

    <!--Modal de Categorias-->
    <div class="modal fade" id="modalTransactions" tabindex="-1" aria-labelledby="modalTransactionsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-category">
                Transação
            </div>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> <!-- Importação da biblioteca datatables -->
    <script src="/controllers/render.js"></script>
</body>
</html>